.resize-handle{

    width:6px;

    cursor:col-resize;

    background:transparent;

    transition:

        background-color var(--transition-fast),

        opacity var(--transition-medium);

}

.resize-handle:hover{

    background:

        var(--color-primary);

}
