/* ===========================================
   SEARCH
=========================================== */

.search-container{

    padding:0 18px 18px;

}

.search-input{

    width:100%;

    padding:14px 18px;

    border:none;

    outline:none;

    border-radius:14px;

    background:#1A1A1A;

    color:white;

    font-size:15px;

    transition:.25s;

    border:1px solid transparent;

}

.search-input:focus{

    border-color:#2563EB;

}

.search-input::placeholder{

    color:#777;

}
