*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* ==========================
   GLOBAL VARIABLES
========================== */

:root{

    /* ======================
       FONT FAMILY
    ====================== */

    --font-family:
        Inter,
        system-ui,
        sans-serif;

    /* ======================
       FONT SCALE
    ====================== */

    --font-xs:13px;

    --font-sm:14px;

    --font-md:15px;

    --font-lg:18px;

    --font-xl:22px;

    --font-2xl:30px;

    --font-3xl:40px;

    --font-4xl:50px;

    /* ======================
       ANIMATIONS
    ====================== */

    --transition-fast:.18s;

    --transition-medium:.30s;

    --transition-slow:.45s;

    --hover-transform:translateY(-2px);

    --hover-scale:scale(1.05);

}

/* ==========================
   ROOT
========================== */

html,
body,
#root{

    width:100%;
    height:100%;

    overflow:hidden;

    background:#09090B;

    font-family:var(--font-family);

    font-size:var(--font-md);

    color:white;

}

/* ==========================
   APP
========================== */

.app{

    width:100%;

    height:100%;

    display:flex;

}

/* ==========================
   PAGE CONTAINER
========================== */

.page-container{

    flex:1;

    overflow:hidden;

    background:#09090B;

}
